<footer class="mx-auto flex max-w-3xl flex-wrap items-center px-8 py-4 text-sm opacity-60">
  <div class="mr-auto basis-full lg:basis-1/2">
    {% set current_year = now() | date(format="%Y") | int %}<!---->
    {% if config.extra.footer.since and config.extra.footer.since != current_year %}<!---->
    &copy; <time datetime="{{ config.extra.footer.since }}">{{ config.extra.footer.since
      }}</time> - <time datetime="{{ current_year }}">{{ current_year }}</time><!---->
    {% else %}<!---->
    &copy; <time datetime="{{ current_year }}">{{ current_year }}</time><!---->
    {% endif %}
    <a class="link" href="{{ get_url(path=``, lang=lang) }}">
      {{ config.author | default(value=config.title) }}
    </a>
    {% if config.extra.footer.license_name %} |<!---->
    {% if config.extra.footer.license_url %}<!---->
    <a class="link" href="{{ config.extra.footer.license_url }}" rel="noopener" target="_blank">
      {{ config.extra.footer.license_name }}
    </a>
    {% else %}<!---->
    {{ config.extra.footer.license_name }}<!---->
    {% endif %}<!---->
    {% endif %}
  </div>
  <div class="flex basis-full lg:basis-1/2 lg:justify-end">
    <span class="mr-6 lg:ml-6">
      {{ trans(key="footer_powered_by", lang=lang) }} <a class="link underline" href="https://www.getzola.org/" rel="noopener"
      target="_blank">{{ trans(key="footer_zola", lang=lang) }}</a> {{ trans(key="footer_and", lang=lang) }} <a class="link underline"
      href="https://codeberg.org/salif/linkita" rel="noopener" target="_blank">{{ trans(key="footer_linkita", lang=lang) }}</a>
    </span>
  </div>
  {% if config.extra.goatcounter_endpoint %}
  <script async data-goatcounter="{{ config.extra.goatcounter_endpoint | safe }}" src="//gc.zgo.at/count.js"></script>
  {% endif %}
  <!-- Footer inject -->
  {% include "injects/footer.html" ignore missing %}
</footer>
