{%- if config.markdown.highlighting.style and config.markdown.highlighting.style == "class" %}
  {%- if config.markdown.highlighting.light_theme or config.markdown.highlighting.dark_theme %}
  <link rel="stylesheet" href="{{ <_link_static path=`giallo-light.css` ctx />
    }}" media="(prefers-color-scheme: light)" />
  <link rel="stylesheet" href="{{ <_link_static path=`giallo-dark.css` ctx />
    }}" media="(prefers-color-scheme: dark)" />
{%- else %}
  <link rel="stylesheet" href="{{ <_link_static path=`giallo.css` ctx /> }}" />
  {%- endif %}
{%- endif %}
  <link rel="stylesheet" href="{{ <_link_static path=`main.min.css` ctx /> }}" />
  <link rel="stylesheet" href="{{ <_link_static path=`icons.css` ctx /> }}" />
  <link rel="stylesheet" href="{{ <_link_static path=`admonition.css` ctx /> }}" />
{%- if page.extra.inline_code_fix | default(value=config.extra.inline_code_fix) %}
  <link rel="stylesheet" href="{{ <_link_static path=`inline-code-fix.css` ctx /> }}" />
{%- endif %}
{%- include "partials/head_style.html" %}
{%- if _g_profile and not config.extra.ugly_urls %}
  {%- if _g_profile.avatar_url %}
  <link rel="preload" as="image" href="{{ <_link_static path={_g_profile.avatar_url} ctx /> }}" />
  {%- endif %}
  {%- if _g_profile.social is array %}
    {%- for image_social in _g_profile.social %}
  <link rel="preload" as="image" href="{{
    <_link_social_icon icon={image_social.name} prl={true} ctx /> }}" />
    {%- endfor %}
  {%- endif %}
{%- endif %}

{%- if not config.extra.disable_default_favicon %}
  <link rel="icon" type="image/x-icon" href="{{
    <_link_static path=`favicon.ico` ctx cachebust={false} /> }}" />
  <link rel="apple-touch-icon" type="image/png" href="{{
    <_link_static path=`apple-touch-icon.png` ctx cachebust={false} /> }}" />
  <link rel="icon" type="image/png" href="{{
    <_link_static path=`android-icon.png` ctx cachebust={false} /> }}" />
{%- endif %}
  <script src="{{ <_link_static path=`js/zola-theme.min.js` ctx /> }}"></script>
{#- -#}
