<header
  class="{% if config.extra.style.header_blur %}blur-header{% else %}header{% endif %} fixed top-0 z-40 mx-auto min-h-[3.5rem] w-full"
>
  <div class="mx-auto w-full max-w-4xl p-3 lg:flex lg:justify-between">
    <div class="flex justify-between">
      <div class="flex items-center">
        <a class="text-2xl font-semibold" href="{{ get_url(path=``, lang=lang) }}">{{ config.title }}</a>
        <div
          class="btn-dark ml-4 h-6 w-6 shrink-0 cursor-pointer text-[0] [background:url(./icons/theme.svg)_left_center/cover_no-repeat] dark:invert dark:[background-position:right]"
          role="button"
          aria-label="Dark"
        ></div>
      </div>
      {% if config.extra.menu %}
      <div
        class="btn-menu relative z-50 flex h-8 w-8 shrink-0 cursor-pointer flex-col items-center justify-center gap-2.5 lg:hidden"
        role="button"
        aria-label="Menu"
      ></div>
      {% endif %}
    </div>
    <script>
      // base
      const htmlClass = document.documentElement.classList;
      setTimeout(() => {
        htmlClass.remove("not-ready");
      }, 10);

      // mobile menu
      const btnMenu = document.querySelector(".btn-menu");
      btnMenu?.addEventListener("click", () => {
        htmlClass.toggle("open");
      });

      // dark theme
      const themeColorTag = document.querySelector('meta[name="theme-color"]');
      const applyDark = (isDark) => {
        if (isDark) {
          htmlClass.add("dark");
          themeColorTag?.setAttribute("content", themeColorTag.dataset.dark);
          document.body.dispatchEvent(new CustomEvent("set-theme", { detail: "dark" }));
        } else {
          htmlClass.remove("dark");
          themeColorTag?.setAttribute("content", themeColorTag.dataset.light);
          document.body.dispatchEvent(new CustomEvent("set-theme", { detail: "light" }));
        }
      };

      const setDark = (isDark) => {
        applyDark(isDark);
        localStorage.setItem("dark", isDark ? "dark" : "light");
        console.debug("isDark:", isDark);
      };

      // manual switch
      const btnDark = document.querySelector(".btn-dark");
      btnDark?.addEventListener("click", () => {
        setDark(!htmlClass.contains("dark"));
      });

      // init
      const darkScheme = window.matchMedia("(prefers-color-scheme: dark)");
      const darkVal = localStorage.getItem("dark");
      if (darkVal) {
        applyDark(darkVal === "dark");
      } else if(htmlClass.contains("dark")) {
        applyDark(true);
      } else {
        applyDark(darkScheme.matches);
      }

      // listen system
      darkScheme.addEventListener("change", (event) => {
        setDark(event.matches);
      });
    </script>
    {% if config.extra.menu %}
    <nav class="flex w-full items-center lg:w-auto">
      <ul
        class="nav-wrapper flex w-full flex-col py-2 lg:w-auto lg:flex-row lg:self-center lg:py-0">
        {%- for menu in config.extra.menu %}
        {%- if lang == config.default_language %}
          {%- set menu_base_url = config.base_url %}
        {%- else %}
          {%- set menu_base_url = config.base_url ~ "/" ~ lang %}
        {%- endif %}
        {%- set menu_name_default = menu.url | replace(from=`$BASE_URL`, to="") %}
        <li>
          <a
            class="primary-link block py-2 text-center text-lg font-medium lg:px-3 lg:py-0"
            href="{{ menu.url | replace(from=`$BASE_URL`, to=menu_base_url) | safe }}"
            >{{ menu.name[lang] | default(value=menu_name_default) | safe }}</a>
        </li>
        {%- endfor %}
      </ul>
      <!-- Header Nav inject -->
      {% include "injects/header_nav.html" ignore missing %}
    </nav>
    {% endif %}
  </div>
</header>
