<div class="text-sm antialiased opacity-80">
{%- if page.date %}
  {%- set date_format = config.extra.locales[lang].date_format | default(value="%F") %}
  {%- if config.extra.locales[lang].locale %}
  <time datetime="{{ page.date }}">{{ page.date | date(format=date_format,
    locale=config.extra.locales[lang].locale) }}</time>
    {%- if page.updated and page.updated != page.date %}
  <span class="mx-1">&middot;</span>
  <span>{{ trans(key="word_updated_on", lang=lang) }}</span>
  <time datetime="{{ page.updated }}">{{ page.updated | date(format=date_format,
    locale=config.extra.locales[lang].locale) }}</time>
    {%- endif %}
  {%- else %}
  <time datetime="{{ page.date }}">{{ page.date | date(format=date_format) }}</time>
    {%- if page.updated and page.updated != page.date %}
  <span class="mx-1">&middot;</span>
  <span>{{ trans(key="word_updated_on", lang=lang) }}</span>
  <time datetime="{{ page.updated }}">{{ page.updated | date(format=date_format) }}</time>
    {%- endif %}
  {%- endif %}
  {%- for reading_time in config.extra.reading_time[lang] %}
  <span class="mx-1">&middot;</span>
    {%- if reading_time == "reading_time" %}
    {%- set reading_time_minutes = page.reading_time % 60 %}
  <time datetime="PT{{ (page.reading_time - reading_time_minutes) / 60 }}H{{ reading_time_minutes }}M0S">{{
      page.reading_time }} {{ trans(key="word_minutes", lang=lang) }}</time>
    {%- elif reading_time == "word_count" %}
  <span>{{ page.word_count }} {{ trans(key="word_words", lang=lang) }}</span>
    {%- else %}
  <span>{{ reading_time }}</span>
    {%- endif %}
  {%- endfor %}
{%- endif %}<!---->
{% if page.authors | length > 0 %}<!---->
  {% set author = page.authors | join(sep=", ") %}<!---->
{% else %}<!---->
  {% set author = config.author %}<!---->
{% endif %}<!---->
{% if author %}
  <span class="mx-1">&middot;</span>
  <span>{{ author }}</span>
{% endif %}
  <!-- Page Info inject -->
{% include "injects/page_info.html" ignore missing %}
</div>
