<!-- Page List -->
{%- if pages is defined %}
{%- elif paginator is defined %}
  {%- set pages = paginator.pages %}
{%- elif term is defined %}
  {%- set pages = term.pages %}
{%- elif section is defined %}
  {%- set pages = section.pages %}
{%- endif %}

{%- for page in pages %}
<section
  class="block-bg relative mb-4 rounded-lg p-4 first-of-type:mt-0 last-of-type:mb-0 active:scale-95 lg:mb-6 lg:p-6"
>
  {%- if page.extra.cover.image %}
  <figure class="mb-4 mt-0">
    <img
      class="h-auto w-full rounded-lg"
      src="{{ get_url(path=page.extra.cover.image) }}"
      {% if page.extra.cover.alt is defined %}alt="{{ page.extra.cover.alt | escape_xml | safe }}"{% endif %}
      {% if page.extra.cover.width is defined %}width="{{ page.extra.cover.width | int }}"{% endif %}
      {% if page.extra.cover.height is defined %}height="{{ page.extra.cover.height | int }}"{% endif %}
    />
  </figure>
  {%- endif %}

  <h2 class="!my-0 pb-1 font-bold !leading-none">{{ page.title }}</h2>
  {%- if not page.summary %}
    {%- set use_summary = false %}
  {%- elif not page.description %}
    {%- set use_summary = true %}
  {%- elif page.extra.page_summary_on_paginator is defined %}
    {%- set use_summary = page.extra.page_summary_on_paginator %}
  {%- elif section.extra.page_summary_on_paginator is defined %}
    {%- set use_summary = section.extra.page_summary_on_paginator %}
  {%- elif config.extra.page_summary_on_paginator is defined %}
    {%- set use_summary = config.extra.page_summary_on_paginator %}
  {%- else %}
    {%- set use_summary = false %}
  {%- endif %}
  {%- if use_summary %}
  <div class="not-prose my-1">
    {{ page.summary | striptags | trim_end | trim_end_matches(pat=`&hellip;`) | trim_end_matches(pat=`.`) | safe }}{{
      m_i18n::tr(key=`hellip`, lk=g_lang_k, d=g_trans_d) }}
  </div>
  {%- elif page.description %}
  <div class="not-prose my-1 truncate">
    <p>{{ page.description }}</p>
  </div>
  {%- endif %}

  {% include "partials/page_info.html" %}

  {#- {% if use_summary %}#continue-reading{% endif %} #}
  <a class="absolute inset-0 text-[0]" href="{{ page.permalink | escape_xml | safe }}">{{ page.title }}</a>
</section>
{%- endfor %}

{%- if paginator is defined %}
<nav class="mt-16 flex">
  {%- if paginator.previous %}
  <a
    class="rounded-full bg-black px-4 py-3 text-sm text-white no-underline shadow duration-100 active:scale-95 dark:bg-white/80 dark:text-black"
    href="{{ paginator.previous | escape_xml | safe }}" rel="prev" accesskey=","
    >&#8249; {{ m_i18n::tr(key=`word_prev_page`, lk=g_lang_k, d=g_trans_d) }}</a>
  {%- endif %}
  {%- if paginator.next %}
  <a
    class="ml-auto rounded-full bg-black px-4 py-3 text-sm text-white no-underline shadow duration-100 active:scale-95 dark:bg-white/80 dark:text-black"
    href="{{ paginator.next | escape_xml | safe }}" rel="next" accesskey="."
    >{{ m_i18n::tr(key=`word_next_page`, lk=g_lang_k, d=g_trans_d) }} &#8250;</a>
  {%- endif %}
</nav>
{%- endif %}
