{% if section.extra.profile or page.extra.profile %}
  {%- set profile_username = page.extra.profile | default(value=section.extra.profile) %}
{%- elif taxonomy.name and taxonomy.name == "authors" and term.name %}
  {%- set profile_username = term.name %}
{%- endif %}

{%- if profile_username %}
{%- if config.extra.profiles[profile_username] %}
  {%- set profile_data = config.extra.profiles[profile_username] %}
  {%- if profile_data.languages[lang].name %}
    {%- set profile_name = profile_data.languages[lang].name %}
  {%- elif profile_data.name %}
    {%- set profile_name = profile_data.name %}
  {%- endif %}
  {%- if profile_data.languages[lang].bio %}
    {%- set profile_bio = profile_data.languages[lang].bio %}
  {%- elif profile_data.bio %}
    {%- set profile_bio = profile_data.bio %}
  {%- endif %}
{%- else %}
  {%- set profile_name = profile_username %}
{%- endif %}

{%- if lang == config.default_language %}
  {%- set social_base_url = config.base_url %}
{%- else %}
  {%- set social_base_url = config.base_url ~ "/" ~ lang %}
{%- endif %}
<div class="mb-16 flex items-start">
  {%- if profile_data.avatar_url %}
  <div
    class="not-prose mr-5 shrink-0 rounded-full border-[0.5px] border-black/10 bg-white/50 p-3 shadow dark:bg-white/[15%]">
    <img
      class="{% if profile_data.avatar_invert %}dark:invert{% endif %} my-0 aspect-square w-16 rounded-full !bg-black/5 hover:animate-spin"
      src="{{ get_url(path=profile_data.avatar_url) }}"{%
        if profile_data.languages[lang].avatar_alt %} alt="{{ profile_data.languages[lang].avatar_alt }}"{%
        elif profile_data.avatar_alt %} alt="{{ profile_data.avatar_alt }}"{% endif %} />
  </div>
  {%- endif %}<!---->

  {% if profile_name %}
  <div>
    <h1 class="mb-2 text-3xl font-bold">{{ profile_name }}</h1>
    {%- if profile_bio %}
    <div class="mb-2 break-words">
      {{ profile_bio }}
    </div>
    {%- endif %}

    {% if profile_data.social %}
    <nav class="flex justify-start space-x-3 dark:invert">
      {% for social in profile_data.social %}
      <a
        class="primary-link h-8 w-8 text-[0] [background:var(--url)_center_center/cover_no-repeat]"
        style="--url: url({{ macros::get_social_icon(icon=social.name) }})"
        href="{{ social.url | replace(from=`$BASE_URL`, to=social_base_url) | safe }}"
        target="_blank"
        rel="{% if social.name == `rss` %}alternate{% else %}me{% endif %}"
        >{{ social.name }}</a>
      {% endfor %}
    </nav>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endif %}
