{%- macro rel(there, here, base) -%}
{%- if here %}
  {%- if there is starting_with(base) %}
    {%- for _ in here %}
      {%- if not loop.last %}
        {{- "../" | safe }}
      {%- endif %}
    {%- endfor %}
    {{- there | trim_start_matches(pat=base) | safe }}
  {%- else %}
    {{- there | safe }}
  {%- endif %}
{%- else %}
  {{- there | safe }}
{%- endif %}
{%- endmacro rel -%}

{%- macro get(url, bu="") -%}
{%- if url is starting_with("@") %}
  {{- get_url(path=url) }}
{%- elif url is starting_with("$BASE_URL") %}
  {%- if bu == "" %}{% set bu = get_url(path=``, lang=lang) %}{% endif %}
  {{- bu | safe }}{{ url | trim_start_matches(pat="$BASE_URL") | safe }}
{%- else %}
  {{- url | safe }}
{%- endif %}
{%- endmacro get -%}
