{% if nth == 1 %}
<link rel="stylesheet" href="/admonition.css" type="text/css">
{% endif %}

{% set admonition_bg = "--admonition-" ~ type %}

<div
  class="my-4 flex flex-col rounded-lg bg-(--admonition-bg)"
  style="--admonition-bg: var({{ admonition_bg }});"
>
  <div class="flex items-center rounded-t-lg bg-(--admonition-bg) p-1">
    <div
      class="mx-2 h-4 w-4 text-[0px] [background:var(--url)_center_center_no-repeat] dark:invert"
      style="--url: url(icons/{{ type | escape_xml | safe }}.svg);"
    >
      {{ type | safe }}
    </div>
    <span><strong>{{ title | default(value=type | title) }}</strong></span>
  </div>
  <div class="pl-4">{{ body | markdown | safe }}</div>
</div>
