{% extends "index.html" %}
{% block main %}
{%- if _g_profile %}
{% include "partials/profile.html" %}
{%- elif page.title %}
<h1 class="mb-16">{{ page.title }}</h1>
{%- endif %}

{%- if page.content %}
<section>{{ page.content | safe }}</section>
{%- endif %}

{%- if page.extra.section is string %}
  {#- todo check lang #}
  {%- set _section = get_section(path=page.extra.section) %}
{%- elif ctx.is_section and page is map %}
  {%- set _section = page %}
{%- endif %}
{%- if _section?.pages is undefined and paginator?.pages is undefined %}
  {{- throw(message="The archive page is missing the extra.section frontmatter variable!") }}
{%- endif %}

{%- for year, posts in (_section?.pages | default(value=paginator?.pages)) |
  sort(attribute=`date`) | reverse | group_by(attribute=`year`) %}
<h2>{{ year }} <sup class="opacity-60">{{ <_num value={(posts | length)} ctx /> }}</sup></h2>

<div class="not-prose pl-4 lg:pl-6">
  <ul>
    {%- for post in posts %}
    <li>
      <div class="my-2 flex items-center justify-between">
        <a class="secondary-link" href="{{ <_link dest={post.permalink} ctx /> }}">{%
          if post.title %}{{ post.title }}{% else %}{{ post.slug }}{% endif %}</a>
        <time class="font-mono text-sm max-md:flex-none opacity-80" datetime="{{
          post.date | date(format=`%FT%T%:z`) }}">{{ <_datetime value={post.date} _format={
            page.extra.date_format if page.extra.date_format is string else `%m-%d`} /> }}</time>
      </div>
    </li>
    {%- endfor %}
  </ul>
</div>

{%- endfor %}
{% endblock main %}
