{% import "macros.html" as macros %}
{%- set g_trans_data = load_data(path="i18n.json", format="json") %}
{%- if page.extra.profile %}
  {%- set g_profile_username = page.extra.profile %}
{%- elif section.extra.profile %}
  {%- set g_profile_username = section.extra.profile %}
{%- elif taxonomy.name is defined and taxonomy.name == "authors" and term.name is defined %}
  {%- set g_profile_username = term.name %}
{%- endif %}
{%- if g_profile_username is defined and config.extra.profiles[g_profile_username] %}
  {%- set g_profile_data = config.extra.profiles[g_profile_username] %}
{%- endif %}
{%- set g_is_profile = g_profile_username is defined %}
{%- set g_is_article = page.date is defined or page.updated is defined %}
{%- set g_html_lang = config.extra.languages[lang].art_x_lang | default(value=lang) %}
{%- if config.build_search_index %}
  {%- set g_is_search_enabled = true %}
{%- else %}
  {%- set g_is_search_enabled = false %}
{%- endif %}
{#- -#}
<!doctype html>
<html class="not-ready overflow-y-scroll lg:text-base" lang="{{ g_html_lang | escape_xml | safe }}">

<head prefix="og: https://ogp.me/ns#{%
  if g_is_profile %} profile: https://ogp.me/ns/profile#{%
  elif g_is_article %} article: https://ogp.me/ns/article#{%
  endif %}">
  {%- include "partials/head.html" %}
  {%- include "partials/head_res.html" %}
  <!-- Head inject -->
  {% include "injects/head.html" ignore missing %}
</head>

<body class="text-black duration-200 ease-out bg-[var(--bg)] dark:text-white">
  {% include "partials/header.html" %}
  <!-- Body Start inject -->
  {% include "injects/body_start.html" ignore missing %}
  <main class="prose prose-neutral relative mx-auto min-h-[calc(100%-4rem)]
    max-w-3xl break-words px-4 pb-12 pt-28 lg:pt-32 dark:prose-invert prose-pre:rounded-lg prose-img:rounded-lg">
    {%- if g_is_search_enabled %}
      {% include "partials/search.html" %}
    {%- endif %}
    {%- block main %}
      <!-- Profile -->
      {%- if paginator is undefined or paginator.current_index == 1 %}
        {% include "partials/profile.html" %}
      {%- endif %}
      {% include "partials/page_list.html" %}
    {%- endblock main %}
  </main>
  {% include "partials/footer.html" %}
  {% include "partials/body_res.html" %}
  <!-- Body End inject -->
  {% include "injects/body_end.html" ignore missing %}
</body>

</html>
