{% import "macros.html" as macros %}
{%- set trans_data = load_data(path="i18n.json", format="json") -%}
<!DOCTYPE html>
<html class="not-ready overflow-y-scroll lg:text-base"{%
  if config.extra.languages[lang].art_x_lang %} lang="{{ config.extra.languages[lang].art_x_lang }}"{%
  else %} lang="{{ lang }}"{% endif %}>
  {% include "partials/head.html" %}
  <body class="text-black duration-200 ease-out dark:text-white">
    {% include "partials/header.html" %}

    <!-- Body Start inject -->
    {% include "injects/body_start.html" ignore missing %}

    <main class="prose prose-neutral relative mx-auto min-h-[calc(100%-4rem)] max-w-3xl break-words px-4 pb-16 pt-28 dark:prose-invert prose-pre:rounded-lg prose-img:rounded-lg">
      {%- if config.build_search_index %}
      {% include "partials/search.html" %}
      {%- endif %}
      {% block main %}

      <!-- Profile -->
      {%- if paginator is undefined or paginator.current_index == 1 %}<!---->
      {% include "partials/profile.html" %}<!---->
      {%- endif %}<!---->

      {% include "partials/page_list.html" %}<!---->
      {% endblock main %}
    </main>

    {% include "partials/footer.html" %}

    <!-- Body End inject -->
    {% include "injects/body_end.html" ignore missing %}
  </body>
</html>
