{% extends "index.html" %}
{% block main %}
{%- if g_profile is defined %}
  {% include "partials/profile.html" %}
{%- endif %}
<article>
  {%- if g_profile is undefined %}
  <header class="mb-16">
    <h1 class="!my-0">{{ page.title }}</h1>
  </header>
  {%- endif %}
  {%- set page_toc = false %}
  {% include "partials/toc.html" %}
  <!-- Content -->
  <section>{{ page.content | safe }}</section>
  {%- if page.lower or page.higher %}<hr />{% endif %}
  {% include "partials/post_navigation.html" %}
</article>
{% endblock main %}
