{% component _math(use_cdn) -%}
  {%- if use_cdn %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.18.9/dist/katex.min.css"
    integrity="sha384-lPx0C4zIUZLpveABMwOFcFeGZwsvKBJfhJ85FN1PYOV7xApBcFMhcAEMVKF8loOI" crossorigin="anonymous" />
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.18.9/dist/katex.min.js"
    integrity="sha384-19KE2cFb3U+RUWmyhBz7aLOGDG8WrRC6hE3oY/HTZZlAAVWYTdmvLC//+TIV3zUx" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.18.9/dist/contrib/auto-render.min.js"
    integrity="sha384-bjyGPfbij8/NDKJhSGZNP/khQVgtHUE5exjm4Ydllo42FwIgYsdLO2lXGmRBf5Mz" crossorigin="anonymous"></script>
  {%- else %}
  <link rel="stylesheet" href="{{ <_link_static path=`katex/katex.min.css` /> }}" />
  <script defer src="{{ <_link_static path=`katex/katex.min.js` /> }}"></script>
  <script defer src="{{ <_link_static path=`katex/contrib/auto-render.min.js` /> }}"></script>
  {%- endif %}
  <script>document.addEventListener("DOMContentLoaded", window.zolaTheme.katex.init);</script>
{%- endcomponent %}
